.info-tooltip {
  padding: 24px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.info-tooltip__title {
  margin: 0;
  padding: 0;
  max-width: 90%;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  text-align: center;
  text-overflow: unset;
  white-space: break-spaces;
}