@keyframes heartBeat {
  from {
  }
  to {
    transform: scale(1.3);
  }
}

.like-btn {
  width: 20px;
  height: 18px;
  border: none;
  cursor: pointer;
  padding: 0;
  background: transparent;
}

.like-btn:hover {
  animation: heartBeat .4s ease-in-out alternate-reverse infinite;
}

.like-btn:focus {
  outline: none;
}